<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Student</title>
</head>
<body>

<h2>Register Student</h2>

<form th:action="@{/register}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}"><br><br>
    Email: <input type="email" th:field="*{email}"><br><br>
    Contact: <input type="text" th:field="*{contact}"><br><br>
    Address: <input type="text" th:field="*{address}"><br><br>
    Password: <input type="password" th:field="*{password}"><br><br>

    <button type="submit">Save</button>
</form>

</body>
</html>
